<%# <!DOCTYPE html> %>
<%# <html> %>
<%# <head> %>
<%#   <title>V2profile</title> %>
  <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %1> %>
  <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %1> %>
  <%# <%= csrf_meta_tags %1> %>
<%# </head> %>
<%# <body> %>

<%= yield %>

<%# </body> %>
<%# </html> %>
